# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo

# Logs
*.log

# Visual Studio files
.vscode/
.vs/

# Database
*.mdf
*.ldf
*.ndf

# Others
*.pdb
*.cache
*.config
api/Controllers/WeatherForecastController.cs
api/Images
.env
.env copy
API/sounds/*
README_modifications.md
SignalRTest/
Search/Search.Benchmarks/reports/
Search/Search.Benchmarks/BenchmarkDotNet.Artifacts/results/BenchmarkRun-20260429-111940-report.csv
